@import '../../Styles/variables.scss';
.sliderContainer {
  overflow: hidden;
}

.mainContainer {
  position: relative;
  .mainWrapper {
    margin: 0 auto;
    width: 1400px;

    .fa-chevron-up {
      position: sticky;
      top: 1200px;
      left: 90%;
      transform: translateX(90%);
      border: none;
      width: 55px;
      height: 55px;
      text-align: center;
      color: white;
      background-color: rgba(39, 39, 39, 0.76);

      &:hover {
        cursor: pointer;
        background-color: rgba(39, 39, 39, 0.308);
      }
    }
  }

  .contentTitle {
    h1 {
      position: relative;
      border: none;
      text-align: center;
      text-transform: uppercase;
    }
    h1:before {
      display: block;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      border-top: 1px solid #7e7e7e;
      content: '';
    }
    h1 span {
      position: relative;
      display: inline-block;
      padding: 0 17px;
      background-color: #fff;
      color: #424242;
      font-size: 35px;
      font-weight: 600;
      line-height: 4.8;
    }

    .bestTitle,
    .newTitle {
      padding-right: 1px;
      color: #094d8b;
      font-weight: 700;
    }
  }

  .bestContainer {
    margin: 50px 0;
    width: 100%;
    height: 750px;

    ul {
      display: grid;
      grid-template-columns: repeat(5, 280px);
      grid-template-rows: reapeat(2, 375px);
    }

    .bestImage {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      margin-right: 15px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .itemWrapper {
      text-align: center;
      margin-right: 20px;

      .itemInfo {
        text-decoration: none;

        img {
          width: 100%;
        }

        p {
          margin-bottom: 20px;
          color: $gray-font-color;
        }
      }

      .itemPrice {
        color: #094c8b;
        font-weight: bold;
      }
    }
  }

  .newContainer {
    width: 100%;
    overflow: hidden;

    .sliderControl {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      text-align: center;

      button {
        height: 30px;
        border: none;
        cursor: pointer;
        background-color: inherit;
      }

      .sliderCounter {
        margin: 0 13px;
      }

      i {
        margin-right: 13px;
        cursor: pointer;
      }
    }

    .slider {
      display: flex;
      width: 5400px;
    }

    .newProduct {
      display: grid;
      grid-template-columns: repeat(6, 230px);
      grid-template-rows: reapeat(2, 230px);
      margin-bottom: 100px;

      .newInfo {
        position: relative;
        display: block;
        height: 100%;
        text-decoration: none;

        &:hover {
          .overlayContainer {
            opacity: 0.35;
          }
          .overlayText {
            opacity: 1;
          }
        }

        img {
          width: 100%;
        }

        .overlayContainer {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 0;
          width: 100%;
          text-align: center;
          opacity: 0;
          background-color: #000;
        }

        .overlayText {
          position: absolute;
          top: 50%;
          left: 50%;
          padding: 12px 0;
          width: 80%;
          font-size: 15px;
          transform: translate(-50%, -50%);
          z-index: 10;
          text-align: center;
          opacity: 0;
          color: #fff;

          span {
            display: block;
            margin: 3px 0;
          }

          strong {
            display: block;
            margin: 10px 0;
            font-weight: bold;
          }

          .viewDetail {
            display: inline-block;
            padding: 0 13px;
            font-size: 15px;
            border: 1px solid #fff;
            line-height: 1.8;
            text-transform: uppercase;
          }
        }
      }

      .newInfoWrapper3 {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
        padding: 33px 0;
      }
    }
  }

  .snsContainer {
    margin: 50px 0;
    width: 100%;
    text-align: center;

    a {
      display: inline-block;
      width: 100%;
      margin: 0 0 20px;
      color: #000;
      text-decoration: none;

      .instaImage {
        width: 70px;
      }
      h3 {
        display: block;
        padding: 7px 0 0;
        font-size: 25px;
        font-weight: 700;

        span {
          display: block;
          margin-top: 8px;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    ul {
      display: inline-block;
      width: 100%;

      li {
        display: inline-block;
        margin: 0 7px;

        a {
          width: 100%;
          margin: 0 0 20px;

          img {
            width: 50px;
          }
        }
      }
    }
  }

  .rightSidebar {
    position: absolute;
    right: 200px;
    margin: 0 0 0 20px;
    width: 95px;
    text-align: center;

    .recentlyViewed {
      margin-bottom: 5px;
      padding: 12px 8px 0;
      border: 1px solid #ddd;

      h3 {
        color: #717171;
        font-size: 12px;

        .recentItemText {
          color: inherit;
          text-decoration: none;
          cursor: pointer;
          font-weight: 700;
        }
      }

      .viewedList {
        position: relative;
        padding: 20px 0;

        ul {
          margin: 0 auto;
          border-top: 1px solid #ddd;

          li {
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
            text-align: center;

            .recentImage {
              color: inherit;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .buttonWrapper {
      .reviewButton,
      .questionButton {
        display: inline-block;
        width: 100%;
        line-height: 30px;
        background-color: #a7a7a7;
        color: #fff;
        margin-top: 9px;
        text-decoration: none;
        text-align: center;
      }

      .saleButton,
      .onlineButton {
        display: inline-block;
        width: 100%;
        line-height: 30px;
        background-color: #093c69;
        color: #fff;
        margin-top: 9px;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
