@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css');
@import './_variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $gray-font-color;
}

.button {
  width: 120px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #eee;
  cursor: pointer;
}

.button:hover {
  background-color: #0a4d8b;
  color: #fff;
  transition: background-color 0.5s;
}
