@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css');
@import './_variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $gray-font-color;
}
