@import '../../Styles/_variables.scss';

.product {
  @include flexSet;
  font-size: 13px;

  .productDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    max-width: $max-width;
  }

  .breadcrumbsWrapper {
    grid-column: 1/3;
    justify-self: end;
    padding-bottom: 10px;
  }

  hr {
    height: 1px;
    border-top: 1px solid #ddd;
  }
}

.productDescription {
  display: flex;
  flex-direction: column;

  .name {
    margin: 10px 0 20px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.45;
  }

  .descTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    padding: 20px 10px;

    .price {
      justify-self: end;
    }
  }

  .selectOption {
    width: 100%;
    height: 28px;
    border: 1px solid #d5d5d5;
    color: #353535;
    font-size: 12px;
    line-height: 24px;
  }

  .selectedProducts {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-row-gap: 10px;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    line-height: 30px;

    dd {
      display: flex;
      align-self: center;
      overflow: hidden;

      &.gridQuanControl {
        justify-self: center;
      }

      &.gridPrice {
        justify-self: end;
      }

      .delete {
        margin: auto 5px;
        background-color: transparent;
        border: none;
        color: #646363;
      }
    }
  }

  .btnArea {
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    grid-column-gap: 5px;
  }

  .btnArea .productButton {
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    cursor: pointer;

    &.order {
      background-color: #094d8b;
      color: #ffffff;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
