@import '../../Styles/_variables.scss';

.product {
  @include flexSet;
  font-size: 13px;

  .productDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-top: 50px;
    max-width: $max-width;
  }

  .breadcrumbsWrapper {
    grid-column: 1/3;
    justify-self: end;
    padding-bottom: 10px;
  }

  hr {
    height: 1px;
    border-top: 1px solid #ddd;
  }
}

.productImage {
  width: 100%;
  margin: auto;
}

.productDescription {
  display: flex;
  flex-direction: column;

  .red {
    color: #cc0022;
    font-weight: bold;
  }
  .name {
    margin: 10px 0 20px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.45;
    text-align: left;
  }

  .descTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    padding: 20px 10px;

    dt,
    dd {
      text-align: left;
    }
    .price {
      justify-self: end;
      color: #094c8b;
    }
    .totalPrice {
      font-size: 21px;
      font-weight: bold;
      padding-right: 5px;
    }
  }

  .selectOption {
    width: 100%;
    height: 28px;
    border: 1px solid #d5d5d5;
    color: #353535;
    font-size: 12px;
    line-height: 24px;
  }

  .selectedProducts {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-row-gap: 10px;
    padding: 20px 10px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;

    dd {
      display: flex;
      align-self: center;
      overflow: hidden;

      &.gridQuanControl {
        justify-self: center;
      }

      &.gridPrice {
        justify-self: end;
      }

      .delete {
        margin: auto 5px;
        background-color: transparent;
        border: none;
        color: #646363;
        cursor: pointer;
      }
    }
  }

  .btnArea {
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    grid-column-gap: 5px;
  }

  .btnArea .productButton {
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    cursor: pointer;

    &.order {
      background-color: #094d8b;
      color: #ffffff;
    }

    &:hover {
      opacity: 0.8;
    }

    &.isLike {
      background-color: #094d8b;
      color: #fff;
    }
  }
}

.additionalTabs {
  padding-top: 30px;
  min-width: $max-width;

  ul {
    display: flex;
    overflow: hidden;
    margin: 0 0 30px;
    border-bottom: 3px solid #444;

    li {
      width: 156px;
      margin: 0 0 0 -1px;
      border-top: 1px solid #cbcdce;

      &.tabItem {
        display: block;
        height: 46px;
        font-size: 16px;
        line-height: 46px;
        text-decoration: none;
        text-align: center;
        background: #fff;
        border-bottom: none;
        border-right: 1px solid #cbcdce;
        border-left: 1px solid #cbcdce;
        color: #757575;
        text-decoration: none;
        background: #fff;
        transition: all ease-in-out 0.2s;
        cursor: pointer;
      }

      &.active {
        background-color: #343434;
        color: #fff;
        border-color: #000;
      }
    }
  }
}

.productAdditional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $max-width;
  padding: 30px 0;
  transition: all ease-in-out 2s;

  div {
    text-align: center;

    img {
      width: 100%;

      &.desc {
        width: 700px;
      }
    }
  }
  .tabWrap {
    display: none;

    &.visibled {
      display: flex;
      flex-direction: column;
    }
  }

  .customerService {
    align-self: center;
    padding: 27px 10px 46px 9px;
    color: #353535;
    line-height: 18px;
    width: 80%;
    max-width: 900px;

    h1 {
      margin: 0 0 20px;
      color: #444;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }

    ul {
      display: table;
      margin-bottom: 75px;
      padding-top: 5px;
      width: 100%;
      border-top: 1px solid #7e7e7e;
      border-bottom: 1px solid #7e7e7e;

      li {
        display: table-row;

        h2 {
          width: 23%;
          padding-left: 35px;
          font-size: 14px;
          color: #3a3a3a;
          display: table-cell;
          padding: 15px 0 14px;
          text-align: center;
          vertical-align: middle;
          font-weight: 700;
        }

        div {
          padding-right: 25px;
          font-size: 13px;
          color: #646464;
          display: table-cell;
          padding: 15px 0 14px;
          text-align: left;
          vertical-align: middle;
        }

        p {
          margin-bottom: 8px;
        }
      }
    }
  }
}
