.Join {
  margin: 100px;
  padding: 75px 0 40px;
  width: 1200px;

  .tittle {
    margin: 15px 0;
    font-weight: bold;
  }

  .Container {
    display: grid;
    grid-template-columns: 2fr 13fr;
    align-items: stretch;
    margin-bottom: 30px;
    border-top: 1px solid #d7d5d5;
    border-left: 1px solid #d7d5d5;

    input {
      margin-right: 3px;
      padding: 4px;
      height: 23px;
      border: 1px solid #d9d9d9;
      color: #202020;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
      vertical-align: middle;
    }

    .item {
      padding: 1rem;
      border-right: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      font-size: 12px;

      &:nth-child(odd) {
        display: flex;
        align-items: center;
        background-color: #fbfafa;
      }

      .text {
        margin-top: 3px;
      }

      .required {
        padding-top: 5px;
        padding-left: 1px;
        font-size: 15px;
        color: red;
      }

      .add1 {
        padding: 3px 10px;
        border: 1px solid #bebebe;
        border-radius: 1px;
        background-color: white;
        font-size: 12px;
      }

      .add2 {
        margin-top: 5px;

        .phoneInput {
          padding-right: 230px;
        }
      }

      .phone-select {
        margin-right: 4px;
        height: 22px;
        width: 55px;
        font-size: 12px;
      }

      .phone-input {
        margin: 0 4px;
        width: 55px;
      }
    }
  }
  .joinMain {
    margin: 20px 0 50px;
    text-align: center;

    .goMain1 {
      margin-right: 2px;
      padding: 10px 36px;
      background-color: #3a4050;
      border: 1px solid #3a4050;
      border-radius: 6px;
      color: #f1f1f1;
      text-decoration: none;
    }

    .goMain2 {
      margin-left: 2px;
      padding: 10px 20px;
      background-color: #8c8c8c;
      border: 1px solid #8c8c8c;
      border-radius: 6px;
      color: #f1f1f1;
      text-decoration: none;
    }
  }
}
