@import '../../../Styles/_variables.scss';

.subCategory {
  @include flexSet;
  position: relative;
  width: 100%;
  max-width: $max-width;

  .subCategoryNav {
    width: 55%;
    margin: 0 auto 40px;
    overflow: hidden;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 2px 4px;

      .title {
        display: block;
        padding: 0 20px;
        height: 32px;
        min-width: 120px;
        background: #fff;
        border: 2px solid #fff;
        font-size: 14px;
        line-height: 28px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;

        &:hover,
        &.selected {
          border-color: #cdcdcd;
          color: #949494;
        }
      }
    }
  }

  .productFilter {
    position: absolute;
    right: 10px;
    top: 0;

    select {
      width: 120px;
      height: 24px;
      padding: 0 10px;
      line-height: 24px;
      font-weight: 400;
      color: #343434;
      border: 1px solid #d5d5d5;
      vertical-align: middle;
    }
  }
}
