.productDetail {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  text-align: center;

  .productThumbnail {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;

    img {
      max-width: 100%;
      &.hover_image {
        display: none;
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;

    .icon {
      font-size: 9px;

      span {
        display: inline-block;
        padding: 3px 5px;
        margin-right: 2px;
        border-radius: 5px;
      }

      .new {
        background-color: #898989;
        color: #fff;
      }

      .sale {
        background-color: #0a4d8b;
        color: #fff;
      }
    }

    .name {
      font-size: 13px;
      color: #555555;
      line-height: 18px;
    }

    .spec {
      .originalPrice {
        font-size: 8px;
        text-decoration: line-through;
      }

      .salesPrice {
        font-size: 15px;
        color: #094c8b;
        font-weight: bold;
      }
    }
  }

  .description > div {
    padding-top: 6px;
  }
}
